language: php

sudo: false

php:
    - 7.3
    - 7.4

cache:
    directories:
        - $HOME/.composer/cache

before_script:
    - composer install

script:
    - ./vendor/bin/php-cs-fixer fix --dry-run
    - ./vendor/bin/phpstan analyse --level=7 lib tests
    - ./vendor/bin/phpunit
